/* all rules are important except those commented with `styling preference`  */

/* card style */
@media (max-width: 539.77) { 

  /* puts some space between the cards */
  .vue-responsive-table > ol { 
    gap: 0.75rem;
  }

  /* Don't display the header on small screens*/
  .vue-responsive-table [role='row']:first-of-type {
    display: none;
  }

  /* cell content alignment */
  .vue-responsive-table [role='cell'],
  .vue-responsive-table [role='columnheader'] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: end;
  } 

  /* - */
  .vue-responsive-table [role='cell'] > *,
  .vue-responsive-table [role='columnheader'] > * {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* label of the cell */
  .vue-responsive-table [role='cell']::before,
  .vue-responsive-table [role='columnheader']::before {
    content: attr(data-label) ':';
    text-align: start; 
  }
}

/* normal style */
@media (min-width: 540px) {

  /* most important part for table (part 1) */
  .vue-responsive-table [role='row'] {
    grid-template-columns: var(--tb-tp);
    display: grid;
    align-items: stretch;
  }
  
  /* most important part for table (part 2) */
  .vue-responsive-table [data-group] {
    grid-template-columns: var(--cg-tp);
    display: grid;
  }

  /* allows table to show horizontal scroll when theres not enough space  */
  .vue-responsive-table {
    overflow-x: auto;
  }
  /* same as above  */
  .vue-responsive-table [role='columnheader'] {
    overflow: visible; 
  }

  /* cell content alignment */
  .vue-responsive-table [role='cell'],
  .vue-responsive-table [role='columnheader'] {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 0px;
    overflow-wrap: anywhere;
  }

}

.vue-responsive-table li[role='row'] {
  margin: 0px;
  padding: 0px;
  /* list style type is very important since we are using `li` elements in grid */
  list-style-type: none !important; 
}
.vue-responsive-table ol {
  margin: 0;
  list-style: none !important;
}

.vue-responsive-table [role='cell'],
.vue-responsive-table [role='columnheader'] {
  padding: 0.65rem;
}