/* card style */
@media (max-width: 539.77) { 
  .vue-responsive-table--bordered [role='row'] {
    background-color:  rgb(75 85 99 / 0.2);
  }

  .vue-responsive-table--bordered [role='row'] {
    border: 1px solid gray;
    border-right: none;
    border-bottom: none;
  }
}

/* normal style */
@media (min-width: 540px) {
  .vue-responsive-table--bordered [role='row']:nth-child(odd) {
    background-color: rgb(75 85 99 / 0.2);
  }

  .vue-responsive-table--bordered [role='row'][data-thead] {
    background-color: rgb(156 163 175 / 0.2);
  }

  .vue-responsive-table--bordered {
    border: 1px solid gray;
    border-right: none;
    border-bottom: none;
  }
}

.vue-responsive-table--bordered [role='cell'],
.vue-responsive-table--bordered [role='columnheader'] {
  border: 1px solid gray;
  border-left: none;
  border-top: none;
}

