/* all rules are important except those commented with `styling preference`  */

/* card display */
@media (max-width: 768px) { 

  /* puts some space between the field label and the value in card display */
  .vue-grid-table { 
    gap: 0.75rem;
  }

  /* Don't display the header on small screens*/
  .vue-grid-table [role='row']:first-of-type {
    display: hidden;
  }

  /* cell content alignment */
  .vue-grid-table [role='cell'],
  .vue-grid-table [role='columnheader'] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: end;
  } 

  /* - */
  .vue-grid-table [role='cell'] > *,
  .vue-grid-table [role='columnheader'] > * {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* label of the cell */
  .vue-grid-table [role='cell']::before,
  .vue-grid-table [role='columnheader']::before {
    content: attr(data-label) ':';
    text-align: start; 
  }

  .vue-grid-table [role='row'] {
    background-color:  rgb(75 85 99 / 0.2);
  }
}

/* table display */
@media (min-width: 768px) {

  /* most important part for table (part 1) */
  .vue-grid-table [role='row'] {
    grid-template-columns: var(--tb-tp);
    display: grid;
    align-items: stretch;
  }
  
  /* most important part for table (part 2) */
  .vue-grid-table [data-group] {
    grid-template-columns: var(--cg-tp);
    display: grid;
  }

  /* allows table to show horizontal scroll when theres not enough space  */
  .vue-grid-table {
    overflow-x: auto;
  }
  /* same as above  */
  .vue-grid-table [role='columnheader'] {
    overflow: visible; 
  }

  /* cell content alignment */
  .vue-grid-table [role='cell'],
  .vue-grid-table [role='columnheader'] {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  /* styling preference */
  .vue-grid-table [role='row']:nth-child(odd) {
    background-color: rgb(75 85 99 / 0.2);
  }

  /* styling preference */
  .vue-grid-table [role='row'][data-thead] {
    background-color: rgb(156 163 175 / 0.2);
  }
}

.vue-grid-table [role='row'] {
  margin: 0px;
  padding: 0px;
  /* list style type is very important since we are using `li` elements in grid */
  list-style-type: none !important; 
}
ol.vue-grid-table {
  margin-top: 0;
  list-style: none !important;
}

.vue-grid-table [role='cell'],
.vue-grid-table [role='columnheader'] {
  padding: 0.75rem;
}

.vue-grid-table [role='columnheader'] {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* styling preference */
.vue-grid-table [role='row'] {
  border-start-end-radius: 0.375rem;
  border-end-end-radius: 0.375rem;
  border-start-start-radius: 0.375rem;
  border-end-start-radius: 0.375rem;
}