/* all rules are important except those commented with `styling preference`  */

.ultimate-table--container {
  container: grid-table / inline-size;
}

/* card style */
@container grid-table (max-width: 539.77px) { 

  /* puts some space between the cards */
  .ultimate-table--container > ol { 
    gap: 0.75rem;
  }

  /* Don't display the header on small screens*/
  .ultimate-table--container [role='row']:first-of-type {
    display: none;
  }

  /* cell content alignment */
  .ultimate-table--container [role='cell'],
  .ultimate-table--container [role='columnheader'] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    text-align: end;
  } 

  /* - */
  .ultimate-table--container [role='cell'] > *,
  .ultimate-table--container [role='columnheader'] > * {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* label of the cell */
  .ultimate-table--container [role='cell']::before,
  .ultimate-table--container [role='columnheader']::before {
    content: attr(data-label) ':';
    text-align: start; 
  }
}

/* normal style */
@container grid-table (min-width: 540px) {

  /* most important part for table (part 1) */
  .ultimate-table--container [role='row'] {
    grid-template-columns: var(--tb-tp);
    display: grid;
    align-items: stretch;
  }
  
  /* most important part for table (part 2) */
  .ultimate-table--container [data-group] {
    grid-template-columns: var(--cg-tp);
    grid-auto-rows: 1fr;
    display: grid;
  }

  /* allows table to show horizontal scroll when theres not enough space  */
  .ultimate-table--container {
    overflow-x: auto;
  }
  /* same as above  */
  .ultimate-table--container [role='columnheader'] {
    overflow: visible; 
  }

  /* cell content alignment */
  .ultimate-table--container [role='cell'],
  .ultimate-table--container [role='columnheader'] {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 0px;
   
  }
  
  /* prevents cell from overflowing to other cells */
  .ultimate-table--container [role='cell'] {
    overflow-wrap: anywhere;
  }
}

.ultimate-table--container li[role='row'] {
  margin: 0px;
  padding: 0px;
  /* list style type is very important since we are using `li` elements in grid */
  list-style-type: none; 
}

.ultimate-table--container > ol {
  margin: 0;
  list-style: none !important;
}

.ultimate-table--container [role='cell'],
.ultimate-table--container [role='columnheader'] {
  padding: 0.65rem;
}